@model IEnumerable<AWEElectronics.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th style="width: 20%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 8%;">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="width: 20%;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width: 8%;">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th style="width: 8%;">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th style="width: 8%;">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th style="width: 8%;">
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Password)
            </th> *@
            <th style="width: 20%; text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td style="width: 20%;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td style="width: 8%;">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                <td style="width: 20%;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td style="width: 8%;">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td style="width: 8%;">
                @Html.DisplayFor(modelItem => item.City)
            </td>
                <td style="width: 8%;">
                @Html.DisplayFor(modelItem => item.State)
            </td>
                <td style="width: 8%;">
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
                <td style="width: 20%;">
                    <div style="display: flex; justify-content: center; gap: 5px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm" title="Details">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
